footer {
  position: fixed;
  bottom: 0;
  width: 100%;

  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
  padding: 6px;
}

footer div {
  display: grid;
  justify-items: center;
  margin-left: 15px;
}

footer svg {
  font-size: 26px;
}

.add {
  font-size: 38px;
}

footer div span {
  font-size: 8px;
}
footer img {
  width: 54px;
  height: 34px;

  object-fit: cover;
  border-radius: 50%;
}
